
@media (min-width: 768px) {
  .row {
    margin-top: 10em;
    margin-left: 3em;
  }
  .subsection {
    margin-top: 10em;
  }
  video {
    width: 800px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .col {
    margin-top: 5em;
    margin-left: 2em;
  }
  .subsection {
    margin-top: 5em;
  }
  .row {
    width: 100%;
  }
  video {
    width: 300px;
    height: auto;
  }
  button {
    margin: 5px 0;
  }
}
