<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ data.description }}">
  <meta name="author" content="{{ data.author }}">

  <title>Matthew Odle</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/grayscale.css" rel="stylesheet">

  <!-- My CSS -->
  <link href="css/my.css" rel="stylesheet">

</head>
