      <header class="intro">
        <div class="intro-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Matthew Odle</h1>
                <p class="intro-text">Wrangler of bits
                  <a href="#portfolio" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </header>
