    <section id="portfolio" class="content-section text-center">
        <h2>Portfolio</h2>
        <hr>
        <h3 class="subsection">Games</h3>
        <h6>Click the titles to learn more</h6>
        <hr>
            {% for section in data %}{{ section }}{% endfor %}
        <hr>
    </section>
