      <div class="row">
        <!-- Grid column -->
        <div class="col col-lg-3 col-md-12 mb-0" id="spacer"></div>
        <div class="col col-lg-6 col-md-12 mb-4" id="{{ data.section_id }}">
          <br>
          <h4 class="col-lg-8 col-md-12 mb-4" data-toggle="modal" data-target="#{{ data.modal_id }}"><a>{{ data.section_title }}</a></h4>
          <h6 class="col-lg-4 col-md-12 mb-4">{{ data.section_description }}</h6>
          <!--Modal: Name-->
          <div class="modal fade" id="{{ data.modal_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
  
              <!--Content-->
              <div class="modal-content">
  
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="{{ data.youtube_link }}" allowfullscreen></iframe>
                  </div>
  
                </div>
                <!--Footer-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">
                    <a href="{{ data.repo }}" target="_blank">View the source</a>
                  </button>
                  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <!--Modal: Name-->
  
          <a>
            <video class="demo-video" width="100" height="60" controls data-toggle="modal" data-target="#{{ data.modal_id }}">
              <source src="{{ data.video_path }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </a>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  